
{% extends "layout.html" %}

{% block title %}{{ parent() }} {% endblock %}


{% block body %}




<center>
{{form_start(contact) }}

    <div>
        {{form_row(contact.nomcontact, {'attr': {'class': 'form-control' } } ) }}  
    </div>
  
   <div>
      {{form_row(contact.suject,  {'attr': {'class': 'form-control'}} ) }} 
    </div>


    <div>
        {{form_row(contact.contactemail, {'attr': {'class': 'form-control'}}) }}
    </div>
  
  <div>
        {{form_row(contact.message, {'attr': {'class': 'form-control'}})  }}
   </div>
    
   <div>
        {{form_row(contact.connection ) }}
    </div>
    
</center> 


 
  {{form_end(contact) }}
     {% endblock %}


