
{% extends "layout.html" %}

{% block title %}{{ parent() }} {% endblock %}


{% block body %}



{{form_start(contact) }}

    <table>

   <caption id = "b3"> formulaire de contact</caption>

 </br>

    <tr>
        <th>{{form_row(contact.nomcontact) }}  </th>
    </tr>
  <tr>
        <th>{{form_row(contact.suject) }}  </th>
    </tr>


    <tr>
        <th>{{form_row(contact.contactemail) }}</th>
    </tr>
  
  <tr>
        <th>{{form_row(contact.message) }}</th>
   </tr>
    
   <tr>
        <th>{{form_row(contact.connection) }}</th>
    </tr>
    
     </table>
  
  {{form_end(contact) }}
     {% endblock %}


