
{# templates/Advert/inscription.html.twig #}

{%  extends "layout.html" %}

{% block body %}

</br>

<div>
<center>

<div id = "b3"> inscription</div>

</br>


</div>

<div >

{{form_start(inscription) }}
<div>

<center>
<label> login </label>
</center>

{{ form_row(inscription.login,  {'attr': {'class': 'form-control '}}   ) }}
{{loginpris}}
</div>

<div>

<center>
<label>mot de pass</label>
</center>

{{ form_row(inscription.password,  {'attr': {'class': 'form-control '}}  ) }}
</div>

<div>

<center>
<label> email </label>
</center>

{{ form_row(inscription.email,  {'attr': {'class': 'form-control '}}  ) }}
{{ emailpris }}
</div>

<div>

<center>
<label> accepter les CGU</label>
</center>

{{ form_row(inscription.check,  {'attr': {'class': 'form-control '}}) }}

</div>

<div>
<center>
{{ form_row(inscription.submit,  { 'label': 'inscription' } , {'attr': {'class': 'btn btn-primary' }}) }}
</center>

</div>

{{form_end(inscription)  }}

</div>
</center>
</div>

{% endblock %}


